<h1>Create user</h1>
<form>
    <p>
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username">
    </p>
    <p>
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email">
    </p>
    <p>
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password">
    </p>
    <p>
        <label>Role</label>
        <input type="role" [(ngModel)]="role" name="role">
    </p>
    <div class="text-center pt-1 mb-5 pb-1">
        <button (click)="createUser()">Create User</button>
    </div>
</form>