<div class="text-center">
    <img src="/assets/Chatting.jpg"
      style="width: 185px;" alt="logo">
<div>
<br>

<form>
    <h4>Please login to your account</h4>

    <input type="email" [(ngModel)]="email" name="email" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>

    <input type="password" [(ngModel)]="password" name="password" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>

    <br>
    <button (click)="click()" class="btn btn-primary btn-block mb-4">Sign in</button>
    
</form>
