<div class="text-center">
    <img src="/assets/Chatting.jpg"
      style="width: 185px;" alt="logo">
    <h4 class="mt-1 mb-5 pb-1">Welcome to the ChatApp</h4>
<div>

<div>
  <form>
    <p>Please login to your account</p>

    <div class="form-outline mb-4">
      <input type="email" [(ngModel)]="email" name="email">
      <label class="form-label" for="email">Email</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" [(ngModel)]="password" name="password">
      <label class="form-label" for="password">Password</label>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
    </div>
  </form>
</div>