<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="navbar-nav">
          <a class="nav-link active" routerLink="/home">Home</a>
          <div class="dropdown">
              <button class="dropbtn">Actions
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a class="nav-link" routerLink="#">Create User</a>
                <a class="nav-link" routerLink="#">Remove User</a>
                <a class="nav-link" routerLink="#">Create Group</a>
                <a class="nav-link" routerLink="#">Delete Group</a>                   
              </div>
          </div>
      </div>
    </nav> 
</body>
</html>